.navbar {
    background-color: grey;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 1000; */


}

.footer {
    background-color: grey;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 1000;

}

.btn-login{
    cursor: pointer;
}